<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78124151728-ma8hgk2gbic7c91bh4qrafnoee06tnp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78124151728-ma8hgk2gbic7c91bh4qrafnoee06tnp8</string>
	<key>API_KEY</key>
	<string>AIzaSyBgzFXtTh0HFK0im2Jo1MDP44UKc3mxFGs</string>
	<key>GCM_SENDER_ID</key>
	<string>78124151728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utng.RutinaGymApp</string>
	<key>PROJECT_ID</key>
	<string>rutinagymapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rutinagymapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78124151728:ios:3a4ea52409dfe7dc</string>
	<key>DATABASE_URL</key>
	<string>https://rutinagymapp.firebaseio.com</string>
</dict>
</plist>